.product-card {
    border: 2px solid #eaff29dc;
    height: 300px;
    color: wheat;
    margin: 20px;
    margin-left: 85px;
    border-radius: 20px;
    background-color: rgba(19, 19, 19, 0.671);
}

mat-card-title {
    text-transform: uppercase;
    font-weight: bolder;
    text-align: center;
}
